<div class="container">
    <div>
        <p><strong>Here is homepage!</strong></p>
    </div>

    <div>
        <div><strong>Join us!</strong><small>突破传统，让公司的主页人见人爱！</small></div>
        <form>
            <label>邮件地址</label>
            <input type="text" placeholder="">
            <div><button type="submit" class="btn btn-success">马上创建</button></div>
        </form>
    </div>

    <div>
        <div><strong>setting!</strong><small>开始自定义！</small></div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">域名</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">密码</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">确定</button>
                </div>
            </div>
        </form>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">公司名称</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">公司简介</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">联系人</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">公司地址</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">联系电话</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">SINA微博</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">确定</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card" style="padding: 20px; width: 380px; border-radius: 5px; box-shadow: 0 0 8px #666; margin-bottom: 50px;">
        <h1>火龙果电子商务</h1>
        <div></div>
        <ul class="unstyled">
            <li><i class="icon-map-marker"></i>上海市闵行区莘松路380号</li>
            <li><i class="icon-user"></i> 张先生 13482285699</li>
        </ul>
        <div style="border-bottom: #ccc 1px solid;"></div>

        <div style="margin: 10px 0;">
            <img src="http://www.hoohua.com/img/sina.png" />
            <img src="http://www.hoohua.com/img/qq.png" />
            <img src="http://www.hoohua.com/img/dou.png" />
            <img src="http://www.hoohua.com/img/qqc.png" />
        </div>

        <ul  class="unstyled">
            <li><a href=""><i class="icon-share-alt"></i> 火龙果官方网站</a></li>
        </ul>
    </div>
</div>